[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "accelerometry"]
	path = accelerometry
	url = https://github.com/vandomed/accelerometry
	shallow = true
	registered = true
[submodule "dvmisc"]
	path = dvmisc
	url = https://github.com/vandomed/dvmisc
	shallow = true
	registered = true
[submodule "pooling"]
	path = pooling
	url = https://github.com/vandomed/pooling
	shallow = true
	registered = true
[submodule "stocks"]
	path = stocks
	url = https://github.com/vandomed/stocks
	shallow = true
	registered = true
[submodule "tab"]
	path = tab
	url = https://github.com/vandomed/tab
	shallow = true
	registered = true
